.authentication{
    display: flex;
    align-items: top;
    height: 100vh;
    background-image: url('./auth.svg');
    background-size: 100% 100%;
}
.authentication .ant-row{
    width: 100%;
    justify-content: center !important;
}

.authentication form{
    margin-top: 50px;
    background-color: white;
    padding: 20px;
}